# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/
.env.local
.env.*.local
*.env

# VSCode / IDE
.vscode/
.idea/


# ChromaDB + Vector DB
db/
chroma/
index/
*.duckdb
*.parquet

# Data files
data/raw/
data/processed/
outputs/
*.csv
*.json


